 @import url("https://use.typekit.net/iqq4csb.css");

 :root {
   --forest-green: #146b51;
   --white: #ffffff;
   --black: #000000;
 }

 .link {
   text-decoration: none;
 }


 .navbar-toggler {
   border-color: var(--forest-green) !important;
 }

 .btn {
   -webkit-border-radius: 4;
   -moz-border-radius: 4;
   border-radius: 4px;
   color: var(--forest-green);
   font-size: 0.9rem;
   background: var(--white);
   margin: 0.5rem;
   padding: 5px 20px;
   max-width: 11rem;
   text-decoration: none;
   transition: transform 0.3s ease-in-out;
 }

 .btn:hover {
   transform: scale(0.95);
   cursor: pointer;
   text-decoration: none;
   color: var(--forest-green)
 }


 /* Top Navigation Styling */
 .sticky {
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 1000;
 }

 .topNav {
   display: flex;
   flex-direction: row;
   justify-content: center;
   background-color: var(--forest-green);
 }

 .topNavText {
   color: var(--white);
 }

 .basic-navbar-nav {
   border-color: #146950 !important;
 }


 /* Navigation Bar Styling */
 .navbar {
   background-color: var(--white);
   padding: 1rem;
   margin-top: 3rem;
 }

 .navCollapse {
   justify-content: flex-end !important;
   align-items: center;
 }

 .navTitle {
   color: var(--forest-green);
   font-family: "league-gothic", sans-serif;
   font-weight: 400;
   font-style: italic;
   font-size: 2rem;
 }

 .navText {
   color: var(--forest-green);
   font-size: 1.2rem;
   text-decoration: none;
 }

 .navLogo {
   max-width: 75%;
 }


 /* Hero Banner Styling */
 .hero-banner {
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
     url(https://images.unsplash.com/photo-1644308852777-c129f2182388?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding: 4rem;
   text-align: left;
   border-bottom-left-radius: 10% 0%;
   border-bottom-right-radius: 100% 10%;
 }

 .hero-title {
   color: var(--white);
   font-size: 3rem;
   font-weight: 700;
   margin-top: 2rem;
 }

 .heroBodyContainer {
   margin: 2rem 0;
 }

 .hero-body {
   color: var(--white);
   font-size: 2rem;
   padding-left: 0.5rem;
   border-left: 4px solid var(--forest-green);
 }



 /* Footer Styling */
 .footer {
   display: flex;
   justify-content: center;
   text-align: center;
   background-color: var(--forest-green);
   margin-top: 1rem;
   padding: 1rem;
 }

 .footerTag {
   text-decoration: none;
   color: var(--white);
   font-size: 1rem;
 }

 .footerText {
   margin: 0;
 }

 /* Form Styling */

 .form {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 1.1rem;
 }

 .formBtn {
   -webkit-border-radius: 4;
   -moz-border-radius: 4;
   border-radius: 4px;
   background-color: var(--forest-green);
   font-size: 0.9rem;
   padding: 5px 20px;
   text-decoration: none;
   color: var(--white);
   text-decoration: none;
   margin: 0;
   margin-top: 2rem;
   max-width: 100% !important;

 }

 .formBtnDisabled {
   -webkit-border-radius: 4;
   -moz-border-radius: 4;
   border-radius: 4px;
   border-color: gray !important;
   background-color: gray !important;
   font-size: 0.9rem;
   padding: 5px 20px;
   text-decoration: none;
   color: var(--white);
   text-decoration: none;
   margin: 0;
   margin-top: 2rem;
   width: 100%;
   max-width: 100% !important;
 }





 /* Tablet Media Query */
 @media only screen and (min-width: 37.5rem) {}

 /* Desktop Media Query */
 @media only screen and (min-width: 62rem) {}