:root {
  --forest-green: #146950;
  --white: #ffffff;
  --black: #000000;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.topNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--forest-green);

}

.topNavText {
  color: var(--white);
}

.topNavBtn {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: var(--forest-green);
  font-size: 0.9rem;
  background: var(--white);
  margin: 0.5rem;
  padding: 0.2rem, 0.4rem;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.topNavBtn:hover {
  transform: scale(0.95);
  cursor: pointer;
  text-decoration: none;
  color: var(--forest-green)
}

.navbar {
  background-color: var(--white);
  padding: 2rem;
  margin-top: 3.5rem;
}

.navTitle {
  color: var(--black);
}