 @import url("https://use.typekit.net/iqq4csb.css");

 :root {
   --forest-green: #146b51;
   --white: #ffffff;
   --black: #000000;
 }

 .link {
   text-decoration: none;
 }


 .navbar-toggler {
   border-color: var(--forest-green) !important;
 }

 .btn {
   -webkit-border-radius: 4;
   -moz-border-radius: 4;
   border-radius: 4px;
   color: var(--forest-green);
   font-size: 0.9rem;
   background: var(--white);
   margin: 0.5rem;
   padding: 5px 20px;
   max-width: 11rem;
   text-decoration: none;
   transition: transform 0.3s ease-in-out;
 }

 .btn:hover {
   transform: scale(0.95);
   cursor: pointer;
   text-decoration: none;
   background: var(--white);
 }


 /* Top Navigation Styling */
 .sticky {
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 1000;
 }

 .topNav {
   display: flex;
   flex-direction: row;
   justify-content: center;
   background-color: var(--forest-green);
 }

 .topNavText {
   color: var(--white);
 }

 .basic-navbar-nav {
   border-color: #146950 !important;
 }


 /* Navigation Bar Styling */
 .navbar {
   background-color: var(--white);
   padding: 1rem;
   margin-top: 3rem;
 }

 .navCollapse {
   justify-content: flex-end !important;
   align-items: center;
 }

 .navTitle {
   color: var(--forest-green);
   font-family: "league-gothic", sans-serif;
   font-weight: 400;
   font-style: italic;
   font-size: 2rem;
 }

 .navText {
   color: var(--forest-green);
   font-size: 1.2rem;
   text-decoration: none;
 }

 .navLogo {
   max-width: 75%;
 }






 /* Footer Styling */
 .footer {
   display: flex;
   justify-content: center;
   text-align: center;
   background-color: var(--forest-green);
   margin-top: 1rem;
   padding: 1rem;
 }

 .footerTag {
   text-decoration: none;
   color: var(--white);
   font-size: 1rem;
 }

 .footerText {
   margin: 0;
 }






 /* Tablet Media Query */
 @media only screen and (min-width: 37.5rem) {}

 /* Desktop Media Query */
 @media only screen and (min-width: 62rem) {}